{% extends 'layout.html' %}

{% block body %}
<!-- <div class="sw-input"> -->
<div class="wrapper">
  <input class="terms" placeholder="First Term" type="text">
  <input class="terms" placeholder="Secont Term" type="text">
  <input class="terms" placeholder="Pow" type="text">
</div>
<div class="wrapper">
  <button id="calc">Calculate</button>
  <button id="clean" style="display: none;">Clean</button>
</div>

<div class="results">
  <!-- <span>
    &nbsp;+
    43 x<sup>4</sup>
  </span> -->

  <!-- <span>
    &nbsp;−
    <span class="fraction">
      <span>34</span>
      <span>64</span>
    </span>
    x
  </span> -->
</div>
<!-- </div> -->
{% endblock %}